section.input,
section.result,
section.error {
    background-color: #5f021f;
    display: flex;
    flex-flow: row nowrap;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
}

section.result {
    padding: 1em;
    padding-bottom: 0;
}

section.input {
    padding: 1em;
    padding-top: 0;
}

.commandline,
.lastline,
.error {
    overflow: hidden;
    color: #fff9e5;
    outline: none;
    word-wrap: break-word;
    white-space: break-spaces;
    overflow-wrap: break-word;
}

.commandline,
.lastline {
    font-size: xx-large;
}

.error {
    font-size: 56px;
}

.commandline {
    flex: 1;
}

.lastline {
    float: left;
}

body {
    font-family: sans-serif;
    background-color: #fff9e5;
}

nav {
    background-color: #5f021f;
    color: #fff9e5;
    padding: 0.5em;
    margin: 0;
    margin-bottom: 2em;
    font-size: 22px;
}

nav > ul {
    display: inline;
}

nav > ul > li {
    display: inline;
    margin-left: 3em;
}

nav a, nav a:visited {
    color: #fff9e5;
}
